.cards {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    height: 100%;
    background: rgb(249,215,81);
    background: linear-gradient(0deg, rgba(249,215,81,1) 20%, rgba(255, 90, 0, 1) 100%);
}

.storieCard {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
    margin-left: 93rem;
    margin-top: 20px;
    margin-bottom: 3rem;
    padding: 13px 40px;
    background: #fff;
    color: rgba(253,75,45,1);
    font-weight: 600;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.visible:hover {
    background: transparent;
    color: #fff;
}

.vHidden {
    visibility: hidden;
}

.vVisible {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
}

@media (max-width: 1471px) {
    .visible {
        margin-left: 63rem;
    }
}

@media (max-width: 1253px) {
    .visible {
        margin-left: 60rem;
    }

}

@media (max-width: 1164px) {
    .visible {
        margin-left: 52rem;
    }
}

@media (max-width: 1025px) {
    .visible {
        margin-left: 43rem;
    }
}

@media (max-width: 878px) {
    .visible {
        margin-left: 5rem;
    }
}