.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FE0000;
}

.img {
    height: 34rem;
    width: 25rem;
    margin-left: 1rem;
    border-radius: 10px;
}

.cards {
    display: block;
}

.imgBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.infoContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.info {
    display: flex;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}