.container {
    background: rgb(241,173,77);
    background: linear-gradient(0deg, rgba(241,173,77,1) 0%, rgba(253,75,45,1) 100%);
    background-size: cover;
}

.img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.name {
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: 900;
    margin-top: 4rem;
}

.itemsImage {
    width: 200px;
    height: 250px;
}

.comics{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stories {
    display: block;
}

.categories {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 1rem;
}

.arrow {
    height: 70px;
    margin-top: 5rem;
    margin-left: 25rem;
}

.scroll {
    margin-left: 40rem;
    font-size: 1.5rem;
    font-weight: 100;
}

.b {
    margin-top: 20px;
    padding: 13px 40px;
    background: #fff;
    color: #000;
    font-weight: 600;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.b:hover {
    background: transparent;
    color: #fff;
}