.container {
    background: rgb(249,215,81);
    background: linear-gradient(0deg, rgba(249,215,81,1) 20%, rgba(251, 130, 10, 1) 100%);
    // background: rgb(241,173,77);
    // background: linear-gradient(0deg, rgba(241,173,77,1) 0%, rgba(243,165,60,1) 25%, rgba(248, 150,55,1) 50%, rgba(250,87,50,1), rgba(253,75,45,1) 100%);
}

.img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.name {
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: 900;
    margin-top: 4rem;
    color: #fff;
}

.itemsImage {
    width: 200px;
    height: 250px;
    margin-bottom: 1rem;
}

.comics{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stories {
    display: block;
    color: #fff;
    margin-left: -10rem;
    margin-bottom: 3rem;
}

.storiesHeader {
    margin-right: 20rem;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 3rem;
    color: #fff;
    transform: rotate(-90deg);
    transform-origin: left top 0;
}

.storiesContainer {
    display: flex;
    margin-left: 2rem;
    justify-content: center;
    margin-top: 15rem;
}

.comicsHeader {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: -3rem;
    color: #fff;
    margin-left: -45rem;
}

.seriesHeader {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 4rem;
    color: #fff;
    margin-left: 35rem;
    margin-bottom: 3rem;
}

.arrow {
    height: 70px;
    margin-top: 5rem;
    margin-left: 25rem;
}

.scroll {
    margin-left: 40rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
}

.b {
    margin-left: 60rem;
    margin-top: 20px;
    padding: 13px 40px;
    background: #fff;
    color: rgba(253,75,45,1);
    font-weight: 600;
    border: 2px solid #fff;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.b:hover {
    background: transparent;
    color: #fff;
}