.form {
    margin-left: 50rem;
    margin-bottom: 2rem;
}

.input {
    background-color: #fff;
    margin-top: 1.5rem;
    border: none;
    width: 300px;
    border-radius: 20px;
    height: 30px;
    padding-left: 1rem;
    margin-right: -1rem;
    color: rgb(128, 9, 9);
}