.form {
    margin-left: 50rem;
    margin-bottom: 2rem;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 32px;
    padding: 8px;
    width: 300px;
    height: 30px;
    padding-left: 2rem;
    margin-right: -1rem;
    color: #ffffff;
}