.form {
    margin-left: 50rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #000;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 30px;
    padding-left: 1rem;
    margin-right: -1rem;
    color: #000;
}

.lens {
    height: 15px;
    cursor: pointer;
}