.img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}

.container {
    margin: 10px;
    position: relative;
    text-align: center;
}

.title {
    color: #fff;
}